<!DOCTYPE html>
<html>
  <head>
    <title>HealthGraph - Patient Records Uploader</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'foss.ico' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application-header", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery-ui-1.12.1.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "fuelux", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body style="overflow-y:scroll;">
    <section>
      <div class="mainpanel">
        <%= yield %>
      </div><!-- mainpanel -->
    </section>
  </body>
</html>

<script type="text/javascript">
   // function to disable right click
  // $(function() {
  //   $(this).bind("contextmenu", function(e) {
  //     e.preventDefault();
  //   });
  // });

</script>

<style>    
  .mainpanel {
    margin-left: 0px;
  }

  .contentpanel {
    padding: 0px;
  }

  .logo {
    margin-top: 10px;
  }
</style>